h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}

h1, h2, h3 {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    color: #333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em; /* altura da linha 180% */
}

ul li {
    list-style: none; /* remover as marcações da lista*/
}

ul li a {
    color: #000bff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.8em;
    text-decoration: none; /* retira o sublinhado sobre o link quando o mouse está encima*/
}

/* removendo o padding da lista */
.menu {
    margin: 0 0 20px 0;
    padding: 0;
}

/*colocando lado a lado*/
.menu li {
    display: inline;
    margin-right: 5px;
}

.menu a {
    background: #818181;
    border: 1px solid #575757;
    color: #fff;
    padding: 5px;
}

/* zerando as margens superiores e inferiores do documento */
.wrapper {
    margin: 0 auto; /*auto ajuda auto ajustar no centro*/
    width: 40%; /* largura do conteudo agora é esse*/
}

.content {
 border: 2px solid #13ff00; /*adicionando uma borda no texto principal*/
 /*ocultando as bordas laterais*/
 border-left: none;
 border-right: none;
}



