h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}

h1, h2, h3 {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    color: #333;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em; /* altura da linha 180% */
}

ul li {
    list-style: none; /* remover as marcações da lista*/
}

ul li a {
    color: #000bff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.8em;
    text-decoration: none; /* retira o sublinhado sobre o link quando o mouse está encima*/
}